<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Setup_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="CreateDbConnection"
          connectionString="Data Source=;Initial Catalog=;Integrated Security=;"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Setup_Manager.Properties.Settings>
      <setting name="Source" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>IHS1</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="TrustedConnection" serializeAs="String">
        <value>True</value>
      </setting>
    </Setup_Manager.Properties.Settings>
  </userSettings>
</configuration>